.pad{
  padding: $padding*2;
}
/*********************
TYPE
*********************/
h1, .h1 {
  @include font-size(3.6);
}
h3, .h3 {
  @include font-size(1.8);
}

/*********************
HERO
*********************/

.hero-border{
  padding: 10px;
}

.inner{
  width:900px;
  max-width:100%;
  margin: 0 auto;
}


/*********************
TILES
*********************/
.tile{
  &:not(.featured){
    width:25%;
    padding-bottom: 14%;
    /* margin-right:2%;
    &:nth-child(even),
    &:nth-child(3n+3){
      margin-right:2%;
    }
    &:nth-child(4n+4){
      margin-right:0;
    } */
  }
}