/******************************************************************
Site Name: 
Author: 

Stylesheet: Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/



/*********************
HERO
*********************/

.hero-text{
  @include font-size(6);
}

.hero-container  {
  min-height: 900px;
}

.inner{
  width:1000px;
  max-width:100%;
  margin: 0 auto;
}