/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

html{
  font-size:74%;
}



/*********************
HERO
*********************/
.hero-container  {
  min-height: 700px;
}

.hero-border{
  padding: 12px;
}

.scroll-indicator{
  height:110px;
  width:110px;
}

.inner{
  width:1400px;
  max-width:100%;
  margin: 0 auto;
}